*
	border 0
	margin 0
	padding 0
body
	background-image url('../../public/images/img5.jpg')
	background-repeat no-repeat
	background-position center
	background-size cover
	font-family 'Roboto', sans-serif
	font-size 16px
	height 100%
	height 620px
.Columna
	background-color #FFF
	height 100%
	margin 0 0 0 6em
	opacity 0.9
	position fixed
	width 20%
	&-logo
		padding 5em 0 0 0
		text-align center
	&-items
		margin 1em 0 0 0
		padding 2em 1em 0 1em
		ul li
			font-size 1em
			list-style none
			line-height 50px
			text-align center
			a
				border-radius 5px
				color #00cc2c
				padding .5em .5em .5em .5em
				text-decoration none
			a:hover
				border solid 2px #00cc2c
				color #333
	&-direccion
		height auto
		line-height 25px
		margin 4em 0 0 0
		padding 0 .5em 0 .5em
		text-align center
		a
			color #333
			text-decoration none
		a:hover
			text-decoration underline
		p
			font-size .9em
			

.Ventana
	background-image url('../../public/images/bg.png')
	background-repeat no-repeat
	background-position center
	background-size cover
	color green
	display none
	height 100%
	position fixed
	top 0
	left 0
	z-index 1000
	width 100%
	&-contenedor
		background-color #FFF
		border-radius 5px
		border solid 5px #00cc2c
		-webkit-border-radius 5px
		-moz-border-radius 5px
		-ms-border-radius 5px
		o-border-radius 5px
		height auto
		margin 0 auto
		margin-top 1em
		max-width 900px
		padding 2em 2em 2em 2em
		width auto
.Ventanacombos
	background-image url('../../public/images/bg.png')
	background-repeat no-repeat
	background-position center
	background-size cover
	color #FFF
	display none
	height 100%
	position fixed
	top 0
	left 0
	z-index 1000
	width 100%
.Ventanacontacto
	background-image url('../../public/images/bg.png')
	background-repeat no-repeat
	background-position center
	background-size cover
	color #FFF
	display none
	height 100%
	position fixed
	top 0
	left 0
	z-index 1000
	width 100%
	
table
	color green
	font-size .8em
	text-align center
	tr
		border solid 1px #029f23
		padding .2em 2em .2em 2em
	td
		border solid 1px #029f23
		padding .2em 2em .2em 2em
		
.Completo
	background-color green
	color #FFF
	
.Logo-tabla
	text-align center
	margin 0
	padding 0 0 .5em 0
	
.Tabla-2
	margin 1.5em 0 0 0
	
.elemento
	font-size .8em
	text-align center
	a
		border-radius 5px
		-webkit-border-radius 5px
		-moz-border-radius 5px
		-ms-border-radius 5px
		-o-border-radius 5px
		color #FFF
		padding .5em .5em
		text-decoration none
	a:hover
		opacity .8
		
.Ventanacontacto
	.Logo-tabla
		a
			color #333
			text-decoration none
		a:hover
			text-decoration underline
	h1
		color #333
		font-size 2.3em
		margin .1em 0 .2em 0
	h2
		color #333
		font-size 1em
		margin .1em 0 .5em 0
	h3
		color #333
		font-size 1em
		margin .1em 0 .5em 0
	p
		color #333
		font-size .9em
		line-height 23px
		
.Texto-tabla
	font-size .8em
	padding 1em 0 1em 0
	line-height 18px
	
.Card-cont
	text-align center
	margin 0
	padding 0
.Card
	color green
	display inline-block
	height auto
	text-align center
	line-height 23px
	margin 0 .5em 3em .5em
	max-width 250px
	vertical-align top
	width 25%
	&-titulo
		font-size .9em
	&-imagen
		border-radius 50%
		height auto
		margin 1em 0 .5em 0
		max-width 120px
		width 100%